<mat-card class="main">
    <h2>MyDashboard</h2>
    <div fxLayout="row">
        <div fxFlex="100%">
            <div fxLayout="row" fxLayoutGap="50px">
                <div fxFlex="33%"><app-my-doughnut-chart></app-my-doughnut-chart></div>
                <div fxFlex="33%"><app-my-polar-area-chart></app-my-polar-area-chart></div>
                <div fxFlex="33%"><app-my-pie-chart></app-my-pie-chart></div>
            </div>
            <div class="spacer" fxLayout="row" fxLayoutGap="50px">
                <div fxFlex="50%"><app-my-radar-chart></app-my-radar-chart></div>
                <div fxFlex="50%"><app-my-bar-chart></app-my-bar-chart></div>
            </div>
        </div>
     </div>
</mat-card>